.navbar-form-job .form-control {
    /*height: 40px;*/
    width: 455px !important;
}

.navbar-default {
    border: none;
    color: #000;
}

.navbar-job{
    background-color: #88ca41;
    border-bottom: 1px solid #88ca41;
    margin-bottom: 0;
}

.navbar-brand a img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand-job {
    padding: 5px 0;
}

.navbar-brand-job img {
    margin-top: 2px;
    margin-left: 15px;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa:before {
    content: '\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}

/*Remove a margem padrão de baixo da navbar e as bordas arredondadas*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #FBAE00;
    color: black;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

.modal-header, h3, .close {
    background-color: #195128;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

/*Define o parágrafo com texto justificado e recuo de primeira linha*/
p {
    text-align: justify;
}

.p {
    text-indent: 25px;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    /*margin-bottom: 10px;*/
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    /*margin-bottom: 30px;*/
}

.section-content {
    height: 100%;
}

.section-search img {
    width: 100px;
}

.media {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd
}

.media-body a h4 {
    color: #0033bb;
}

.media-body a p {
    font-size: 1.2em;
    color: #666;
}

.media-body .navbar-right p {
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 20px;
    color: #900;
    position: relative;
    bottom: 40px;
}

.media-body a:hover {
    text-decoration: none
}

.list-group {
    margin-left: 0;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px 0 15px 15px;
}

.list-group li {
    list-style: none;
}

.list-group li.disabled {
    padding: 0 0 10px 0;
}

.list-group li.subcategories {
    padding-left: 10px;
}

.media-body {
    zoom: 1;
    overflow: hidden;
}

.media-body {
    width: 10000px;
}

.media-object {
    display: block;
}

.media-object.img-thumbnail {
    max-width: none;
}

.chip {
    display: table-cell;
    padding: 0 25px;
    height: 100px;
    font-size: 16px;
    line-height: 33px;
    border-radius: 20px;
    background-color: #f1f1f1;
    float: left;
    margin: 2px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 100px;
    width: 100px;
    border-radius: 20%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 5px;
}

.container {
    padding: 2px 16px;
}

.checked {
    color: orange;
}

.section-content {
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Define o alinhamento e cores do rodapé*/
footer {
    /*background-color: #195128;*/
    /*color: white;*/
    /*padding: 10px;*/
    /*font-size: 8pt;*/
    /*font-weight: bold;*/
    /*text-align: center;*/

    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    line-height: 1;
    margin-top: 60px;
    padding: 25px 0 15px 0;
    display: block;
}

footer p {
    font-size: 0.9em;
    color: #999;
    text-align: center;
}


.section-questions-market-place {
    margin: 30px 0;
}

.section-questions-market-place h2 {
    margin: 40px;
    font-size: 2.1em;
    text-align: center;
}

.section-questions-market-place .section-questions-market-place-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.section-questions-market-place .section-questions-market-place-content ul {
    list-style: none;
}

.section-questions-market-place .section-questions-market-place-content a {
    font-size: 0.9em;
    color: #0033bb;
}

.section-questions-market-place .section-questions-market-place-content a:hover {
    font-size: 0.9em;
    color: #0033bb;
    text-decoration: underline;
}

.section-questions-market-place .questions-form {
    background-color: #dcf1fa;
    padding: 10px 10px 10px 30px;
    margin-bottom: 0;
    position: relative;
    font-size: 13px;
    min-height: 54px;
}

.section-questions-market-place .questions-form:before {
    content: "\f075";
    color: #79a9f5;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    left: 7px;
    position: absolute;
    text-decoration: none;
    top: 22px;
}

.section-questions-market-place .questions-form textarea {
    font-size: 0.9em;
    margin-bottom: 10px
}

.section-questions-market-place .question-shipping-link {
    color: gray;
    position: relative;
    top: -33px;
    left: 180px;
    font-size: 0.9em;
}

.section-questions-market-place .question-shipping-link a {
    font-size: 1em;
    color: #808080;
    text-decoration: underline;
}

.section-questions-market-place .question-shipping-link a:hover {
    font-size: 1em;
    color: #808080;
    text-decoration: underline;
}

.section-questions-market-place .ml-questions-list {
    padding-left: 0;
}

.section-questions-market-place .ml-questions-list li {
    border-bottom: 1px solid #ddd;
}

.section-questions-market-place .ml-questions-list .ml-questions-list-question {
    padding: 15px 0 0 0;
}

.section-questions-market-place .ml-questions-list .ml-questions-list-question i {
    color: #79a9f5;
}

.section-questions-market-place .ml-questions-list .ml-questions-list-answer {
    padding: 0 0 5px 0;
    margin-left: 20px;
}

.section-questions-market-place .ml-questions-list .ml-questions-list-answer i {
    color: #9cd1f3;
}

.section-questions-market-place .ml-questions-list .ml-questions-list-answer span {
    font-size: 0.8em;
    color: #999;
}