<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %} {% endblock %}
    <title>{% block titulo %}Contratou!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/layout.css' %}">

    {% block link_css %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        {% block style %} {% endblock %}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% load static %}
            <span class="navbar-brand"> <img src="{% static '/img/logo_ifro.png' %}" class="img-responsive"
                                             width="30"></span>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li {% block class_home %} {% endblock %}><a href="{% url 'contratou.home' %}"><span
                        class="glyphicon glyphicon-home"></span>
                    Home</a></li>
                <li{% block class_segmentos %} {% endblock %}><a href="{% url 'contratou.segmentos' %}"><span
                        class="glyphicon glyphicon-briefcase"></span> Segmentos</a>
                <li{% block class_sobre %} {% endblock %}><a href="{% url 'contratou.sobre' %}"><span
                        class="glyphicon glyphicon-question-sign"></span>
                    Sobre</a></li>
                <li{% block class_contato %} {% endblock %}><a href="{% url 'contratou.contato' %}"><span
                        class="glyphicon glyphicon-envelope"></span>
                    Contato</a></li>
             <li{% block class_avalia_prof %} {% endblock %}><a href="{% url 'contratou.avaliacao_profissional' %}"><span
                        class="glyphicon glyphicon-pencil"></span>
                    Avaliação Profissional</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" href="#modal-logout"><span
                            class="glyphicon glyphicon-log-out"></span>
                        Logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" href="#modal-login"><span
                            class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-md-12">
            {% block conteudo %} {% endblock %}
        </div>
    </div>
</div>

<footer>
    IFRO - Instituto Federal de Educação, Ciência e Tecnologia de Rondônia
</footer>
{#{% if request.user.is_authenticated %}#}
{##}
{#{% else %}#}
{#    {% if erro %}#}
{#        <p class="alert alert-danger">#}
{#            Usuário ou senha inválidos!#}
{#        </p>#}
{#    {% endif %}#}
{#    {% include 'contratou/login_include.html' %}#}
{#{% endif %}#}
<!-- Modal LOGIN-->
<div class="modal fade" id="modal-login" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'contratou.login' %}?next={{ request.path }}" class="post-form">
                {% csrf_token %}

                <div class="modal-header" style="padding:20px 50px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title"><span class="glyphicon glyphicon-lock"></span> Login</h3>
                </div>

                <div class="modal-body" style="padding:40px 50px;">

                    <div class="form-group">
                        <input class="form-control" type="text" name="nomeusuario" placeholder="Usuário"><br>
                        <input class="form-control" type="password" name="senha" placeholder="Senha">
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-success btn-block"> Entrar</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-danger btn-block" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>

                <div class="modal-footer">
                    <p class="pull-right">Esqueceu <a href="#">senha?</a></p>
                </div>
                {#                <input type="hidden" name="next" value="" />#}
            </form>
        </div>
    </div>
</div>

<!-- Modal LOGOUT-->
<div class="modal fade" id="modal-logout" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="POST" action="{% url 'contratou.logout' %}" class="post-form">
                {% csrf_token %}

                <div class="modal-header" style="padding:15px 50px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title"><span class="glyphicon glyphicon-off"></span> Logout</h3>
                </div>

                <div class="modal-body" style="padding:10px 10px;">
                    <p class="text-center">Deseja realmente sair?</p>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-default btn-block" data-dismiss="modal" autofocus/>
                        Cancelar</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-danger btn-block">Sair</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>