{% extends "contratou/layout.html" %}
{% block class_profissionais %} class="active" {% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% load static %}

{% block conteudo %}
<table class="table">
    {% for profissional in profissionais %}
        <tr>
            <td style="vertical-align:middle">
                <img src="{{ profissional.foto.url }}" class="img-resposive"
                     style="width:100px; margin-right: 10px">
            </td>
            <td style="vertical-align:middle">
                <h4><strong>{{ profissional.nome }}</strong></h4>
                {% for area in profissional.area.all %}
                    <p>- {{ area }}</p>
                {% endfor %}
                <p>{{ profissional.cidade }}/{{ profissional.uf }}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <th>
        <h2><h4><strong>Avaliações - </strong>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </h4></h2>
    </th>
    </thead>
    <tbody>
    <tr>
        <td style="vertical-align:middle">
            <p><strong>Serviço 01</strong></p>
            <p><em>Comentário do contratante sobre a execução do serviço.</em></p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:middle">
            <p><strong>Serviço 02</strong></p>
            <p><em>Comentário do contratante sobre a execução do serviço.</em></p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:middle">
            <p><strong>Serviço 03</strong></p>
            <p><em>Comentário do contratante sobre a execução do serviço.</em></p>
        </td>
    </tr>
    </tbody>
</table>


{#        <div class="card">#}
{#            <img src="{{ profissional.foto.url }}" class="img-resposive" style="width:100%">#}
{#            <div class="container">#}
{#                <h4><b>{{ profissional.nome }}</b></h4>#}
{#                {% for area in profissional.area.all %}#}
{#                    <p>- {{ area }}</p>#}
{#                {% endfor %}#}
{#            <p>{{ profissional.cidade }}/{{ profissional.uf }}</p>#}
{#                <p>{{ profissional.telefone }}</p>#}
{#                <p>Reputação:#}
{#                    <span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star"></span>#}
{#                    <span class="fa fa-star"></span>#}
{#                </p>#}
{% endblock %}

