{% extends "contratou/layout.html" %}
{% block class_profissionais %} class="active" {% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% load static %}

{% block conteudo %}
    <h2 class="page-header">Lista de profissionais</h2>
    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>

    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>


    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>

    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>

    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>

    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>

    <div class="card">
        <img class="imgprofissional" src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
            <p>Reputação
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
        </div>
    </div>
{% endblock %}

