{% extends "contratou/layout.html" %}
{% block class_profissionais %} class="active" {% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% load static %}

{% block conteudo %}
    {% if request.user.is_authenticated %}
        <table class="table">
            {% for profissional in profissionais %}
                <tr>
                    <td style="vertical-align:middle">
                        <img src="{{ profissional.foto.url }}" class="img-resposive"
                             style="width:150px; margin-right: 10px; border-radius: 10%">
                    </td>
                    <td style="vertical-align:middle">
                        <h4>
                            <strong>{{ profissional.nome }}</strong>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </h4>
                        {% for area in profissional.area.all %}
                            <p>- {{ area }}</p>
                        {% endfor %}
                        <p>{{ profissional.cidade }}/{{ profissional.uf }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <th>
                <h4><strong>Avaliações do profissional </strong>

                </h4>
            </th>
            <th>
            </th>
            </thead>
            <tbody>
            {% for avalia in avaliacao %}
                <tr>
                    <td style="vertical-align:middle">
                        <p><strong>{{ avalia.servico }}</strong> - <em>{{ avalia.data_servico }}</em> (Avaliado por: {{ avalia.contratante }})</p>
                        <p>{{ avalia.comentario }}</p>
                    </td>
                    <td>
                        Critério 1: {{ avalia.campo1 }}<br>
                        Critério 2: {{ avalia.campo2 }}<br>
                        Critério 3: {{ avalia.campo3 }}<br>
                        Critério 4: {{ avalia.campo4 }}<br>
                        Critério 5: {{ avalia.campo5 }}<br>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="text-center bg-warning">Profissional sem avaliações</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if erro %}
            <p class="alert alert-danger">
                Usuário ou senha inválidos!
            </p>
        {% endif %}
        {% include 'contratou/login_include.html' %}
    {% endif %}



    {#        <div class="card">#}
    {#            <img src="{{ profissional.foto.url }}" class="img-resposive" style="width:100%">#}
    {#            <div class="container">#}
    {#                <h4><b>{{ profissional.nome }}</b></h4>#}
    {#                {% for area in profissional.area.all %}#}
    {#                    <p>- {{ area }}</p>#}
    {#                {% endfor %}#}
    {#            <p>{{ profissional.cidade }}/{{ profissional.uf }}</p>#}
    {#                <p>{{ profissional.telefone }}</p>#}
    {#                <p>Reputação:#}
    {#                    <span class="fa fa-star checked"></span>#}
    {#                    <span class="fa fa-star checked"></span>#}
    {#                    <span class="fa fa-star checked"></span>#}
    {#                    <span class="fa fa-star"></span>#}
    {#                    <span class="fa fa-star"></span>#}
    {#                </p>#}
{% endblock %}

