{% extends "contratou/layout.html" %}
{% block class_profissionais %} class="active" {% endblock %}

{% load static %}

{% block conteudo %}
    <h2 class="page-header">Lista de profissionais</h2>
    <div class="card">
        <img src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>


    <div class="card">
        <img src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/img_avatar.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'img/img_avatar2.png' %}" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Nome Profissional</b></h4>
            <p>Área de atuação</p>
        </div>
    </div>
{% endblock %}

