{% extends "contratou/../layout.html" %}
{% block class_sobre %} class="active" {% endblock %}
{% block titulo %}Sobre - Contratou!{% endblock %}

{% block conteudo %}
    <h2 class="page-header">Sobre o Contratou!</h2>
    <p class="p">Você já conhece o ‘Contratou!’? A plataforma que promete revolucionar a forma de contratação de
        serviços autônomos, a equipe desenvolvedora do software propôs a criação de um ambiente virtual com o intuito de
        estimular e solidificar o relacionamento entre contratantes e profissionais autônomos. Encontre cabeleireiros,
        pintores, arquitetos, babás, professores, diaristas, costureiras e outros
        profissionais
        que possam te ajudar em tarefas cotidianas. Avalie o profissional para que outras pessoas possam encontrá-lo
        depois. Tudo de graça e sem cobrança adicional no serviço!</p>
    <p class="p">Para você que deseja divulgar o seu serviço, basta cadastrar-se como um profissional e inserir as
        informações
        relacionadas às atividades que você deseja prestar. Simples assim!</p>


{% endblock %}