{% extends "contratou/layout.html" %}
{% block class_sobre %} class="active" {% endblock %}
{% block titulo %} Contratou! - Sobre {% endblock %}

{% block conteudo %}
    <h2 class="page-header">Sobre o Contratou!</h2>
    <p class="p">Nos dias atuas nos deparamos cada vez mais com a utilização de sistemas mobile,
        principalmente na otimização de atividades do cotidiano, nesta busca por simplificar
        e facilitar ainda mais esse processo, propõe-se no projeto como objetivo geral o
        desenvolvimento de um sistema que possa intermediar a contratação de serviços
        diversos oferecidos principalmente por profissionais liberais, bem com
        empreendedores individuais e microempresas.</p>
    <p class="p">Nesse sentido busca-se alcançar os
        seguintes objetivos específicos: Agilizar a contratação de prestadores de serviço;
        Fomentar o mercado de prestadores de serviço; Promover a visibilidade de
        prestadores de serviço para contratação; e Desenvolver nos pesquisadores
        iniciantes e envolvidos o desenvolvimento da tríplice formação ensino, pesquisa e
        extensão. Por meio de um sistema simples e amigável, promover um melhor e maior
        relacionamento entre prestador de serviços e o usuário (contratante), que possibilite
        avaliações o que de certa forma favoreça um currículo dos serviços prestados o
        facilitara a contração e permitirá o crescimento da carteira de clientes do prestador.</p>
{% endblock %}